body {
    overflow: hidden;
    cursor: pointer;
}



div.k-p-db-header {
    height: 20px;
    background-color: #B0B0B0;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.k-p-db-grid {

    background-color: #DFDFDF;

    padding-bottom: 5px;
}


div.grid-inner {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    background-color: #E0E0E1;
}

#channels.grid-inner {
    height: 150px;
    background-color: #E0E0E1;
    margin-bottom: 0px;
}

div.k-p-db-bignum {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}

div.k-p-db-bignum-arrows {
    font-weight: bold;
    margin-left: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
}

div.k-p-db-subtitle {
    font-size: 10px;
    text-align: center;
}

div.k-p-db-middle {
    min-width: 18px;
    margin-left: -5px;
    display: inline-block;
    vertical-align: middle;
}

i.k-p-db-up {
    font-size: 18px;
    color: green;
}

i.k-p-db-down {
    font-size: 18px;
    color: red;
}

div.channels {
    height: 220px;
}

div.pps {
    height: 80px;
    min-height: 80px;
    width: 100%;
}

.grid-item {
    width: 25%;
    background-color: #D0D0D0;
}

.grid-item--width2 {
    width: 50%;
}

.grid-item--widthfull {
    width: 100%;
    margin-bottom: 0px;
}

.grid-item.grid-item--widthfull.channels {
    height: 29px;
}

div.ui-layout-center {
    height: calc(100vh - 260px);
}

div.utime_holder {
    float: center;
    text-align: right;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}


div.dataTables_filter {
    margin-top: 2px;
    float: right;
    margin-bottom: 2px;
}


table.stripe.hover.dataTable.no-footer {
    margin-bottom: 1px;
}

div.dataTables_scrollBody {
    margin-top: 0px;
}


div.k_cd_container {
    margin-top: 10px;
}

div.k_cd_banner {
    padding-bottom: 8px;
}


#pcap_sidebar.k-sb-list-item {
    visibility: hidden;
}

div.k-p-db-grid-breakdown {
    border-style: dashed;
    border-color: black;
    border-bottom: 3px;
    background-color: #E0E0E1;
}



.breakdown {
    padding-bottom: 40px;
    background-color: #E0E0E1;
    padding-top: 5px;
    border-bottom-width-width: 3px;
    border-color: red;
    border-style: solid;
    padding-bottom: 5px;
}

div.gridtitle {


    font-size: 16px;
    margin-left: 4px;
    padding-left: 30px;
    font-weight: bold;
}

.system {
    border-bottom-width: 3px;
    border-style: dashed;
    padding-bottom: 5px;
    background-color: blue;
}

.wlan {

    background: url('images/wifi.png');
    background-repeat: no-repeat;
    margin-left: 3px;
}

.bluetooth {

    background: url('images/bluetooth.png');
    background-repeat: no-repeat;
    margin-left: 3px;
}


.Other {

    background: url('images/other.png');
    background-repeat: no-repeat;
    margin-left: 3px;
}


.wlanTotal {

    color: green;
}

.bluetoothTotal {

    color: #4283ed;
}


.OtherTotal {}



.dataTables_filter {
    visibility: hidden;
    height: 0px;
}


.endspacer {
    border-style: dashed;
    border-color: #000000;
    border-bottom-width: 3px;
    padding-bottom: 5px;

    margin-bottom: 5px;
    background-color: #E0E0E1;
}

div.creditbar {
    border-style: solid;
    border-bottom-width: 4px;
    border-top-width: 3px;
}